@media screen and (max-width: 1167px) {

    .onlyformobile {
        display: contents;
    }

    .onlyforpc {
        display: none;
    }

    
    .pss {
        background-image:url("../img/screenshot.PNG");
        background-size: 100%;
        position:relative;
        color: white;
        z-index:1;
    }

    .pss::after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.6);
        z-index:-1;
      }

    
    .screenshot{
        display: none;
    }

    .maindownloadbutton{
        margin-bottom: 400px;
    }

    .idkh2 {
        text-align: center;
    }
    
    .donate-button {
        width: 100%;
        margin-top: 10px;
    }
}