.onlyformobile {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.contene {
    height: 80vh;
}

.donatelink {
    margin-top: 2000px;
    text-decoration: none;
}

.download-box form {
    width: 400px;
    border: rgb(219, 219, 219) 0.2px solid;
    border-radius: 10px;
    padding: 10px;

}

.contene {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #2c92d3;
}

.main {
    background-color: #2c92d3;
    color: white;
}

.patas {
    background-color: #2c92d3;
    color: white;
}

.whitelogo {
    color: white;
    font-size: 400%;
    padding: 40px;
    padding-bottom: 50px;
    
}

.screenshot {
    margin: 20px;
    animation-name: startingScreenshot;
    animation-duration: 1s;
}

.sussy {
    animation-name: startingSussy;
    animation-duration: 1s;
}

.title {
    margin: 20px;
    text-align: center;
}

.center {
    text-align: center;
}

.DownloadOption {
    width: 200px;
}

.button {
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    background-color: white;
    color: #2c92d3;
}

.a {
    padding: 100px;
}

.ob {
    color: red;
}

.hideinout {
    border:none;
}

.button {
    width: 230px;
    height: 50px;
}

.nodecoration {
    text-decoration: none;
}

#gitlogo {
    width: 45px;
}

.patas {
    text-align: center;
}

.patas a {
    color: white;
    text-decoration: none;
}




@keyframes startingScreenshot {
    0% {
        transform: translateX(300px);
    }
    70% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes startingSussy{
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

